.accordion {
    background-color: #e6e8e6;
    color: #222222;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: medium;
    border: none;
    outline: none;
    transition: 0.4s;
}

.opened,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\02795';
    color: #777;
    float: right;
    margin-left: 5px;
}

.opened:after {
    content: "\2796";
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}