/* Background Color Scheme */

* {
    box-sizing: border-box;
    color: #222222;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.main {
    height: auto;
    /*box-shadow: 5px 5px 10px grey;*/
    margin-left: 200px;
    /* Same as the width of the sidebar */
    padding: 0px 15px;
    font-size: 14px;
}

body {
    background-color: whitesmoke;
}

img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


/* Style for Header, will have to update for other imgs */

.header {
    padding: 1%;
    text-align: left;
    font-size: small;
    color: white;
    background-color: #e6e8e6;
}

.subheader {
    padding: 1%;
    text-align: left;
    font-size: small;
    color: white;
    background-color: #e6e8e6;
}


/* Style the top navigation bar */

.rounded {
    border-radius: 25px 25px 10px 10px;
}

.roundbot {
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-height: 450px) {
    .main {
        margin-left: 180px;
        font-size: 12px;
    }
}