/* Container for skill bars */

.skillcontainer {
    width: 100%;
    background-color: #e6e8e6;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px
}

.skills {
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.skill {
    text-align: left;
    padding-left: 5px;
    color: white;
}

.label {
    text-align: right;
    padding-left: 5px;
    color: white;
}


/*  Programming Languages   */


/*  Left    */

.csharp {
    width: 75%;
    background-color: #89cdd6;
}

.css {
    width: 75%;
    background-color: #79b791;
}

.js {
    width: 60%;
    background-color: #f1bf98;
}

.html {
    width: 50%;
    background-color: #c37d92;
}


/*  Right   */

.cpp {
    width: 80%;
    background-color: #89cdd6;
}

.java {
    width: 65%;
    background-color: #79b791;
}

.python {
    width: 60%;
    background-color: #f1bf98;
}

.mips {
    width: 50%;
    background-color: #c37d92;
}


/*  Operating System Skills */

.win {
    width: 95%;
    background-color: #89cdd6;
}

.arch {
    width: 80%;
    background-color: #79b791;
}

.mac {
    width: 70%;
    background-color: #f1bf98;
}

.ubuntu {
    width: 40%;
    background-color: #c37d92;
}


/* Software and Tools   */

.photoshop {
    width: 100%;
    background-color: #89cdd6;
}

.mssuite {
    width: 90%;
    background-color: #79b791;
}

.max {
    width: 70%;
    background-color: #f1bf98;
}

.git {
    width: 50%;
    background-color: #c37d92;
}